.rule-block {background: #CCCCCC; position: relative; padding: 5px 10px;}
.rule-block-inner .form-item {margin: 0; padding: 0;}
.rule-block.even {background: #AAAAAA;}
.rule-block .toggle-vis {position: absolute; right: 3px; top: 1px;}